$bg-color: #F8FAFC ;
$surface-primary: #FFFFFF ;
$surface-secondary: #EDE9FE ;
$text-primary: #0F172A;
$text-secondary: #334155;
$graphic-elements: hsla(215, 20%, 65%, 1);
$surface-secondary: #EDE9FE;
$highlight: #7C3AED;